@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

:root[theme="light"] {
  --text: #10160e;
  --image_text: #ebf1e9;

  --background: #F2FAFF;
  --seagreen: #AAE4E2;
  --blue: #CBD2FF;
  --light-blue: #E3E7FF;
}

@media (prefers-color-scheme: dark) {
  :root[theme="dark"] {
    --text: #ebf1e9;
    --image_text: #10160e;

    --background: #01090F;
    --seagreen: #3A8F99;
    --blue: #152065;
    --light-blue: #34417B;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
